#CoUsers{

    float: left;
    border: 10px ridge;
    background-color: slategrey;
    width: 25vw;
    height: 25vh;
}
#CoAdmin{

    float: right;
    border: 10px ridge;
    background-color: slategrey;
    width: 25vw;
    height: 25vh;
}
