.title{
    text-align: center;
    font-size: xx-large;
	background-color: rgb(150, 150, 150);
	margin-bottom: 4%;
}

.recherche{
	text-align: left;
	margin: 6px;
}

.bouton{
	width:85px;
	height:85px;
	background:#ffffff;
	box-shadow:2px 2px 8px rgb(88, 88, 88);
	font:bold 13px Arial;
	border-radius:50%;
	color:rgb(0, 0, 0);
}

.bigdiv{
	background-color: rgb(150, 150, 150);
	width: 100%;
	height: 200%;
	background-repeat: no-repeat;
	
}

.ultradiv{
	background-image: url("fond.JPG");
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	
}

.bigdiv2{
	float : right;
	border:2px solid black;
	margin-top: 2px;
}

#text{
	margin-left: 5px;
	border:2px solid black;
	
}

#button {
	display: inline-block;
	border-radius: 4px;
	background-color: #e7dfdd;
	border: none;
	color: rgb(7, 7, 7);
	text-align: center;
	font-size: 18px;
	padding: 10px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
  }
  
  #button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  #button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  #button:hover span {
	padding-right: 25px;
  }
  
  #button:hover span:after {
	opacity: 1;
	right: 0;
  }

  