html {height:100%;}
body {height:100%;
padding: 0%; margin: 0%;
background-image: url(wp3813170.jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position-x: center;

}

.container{

	color: whitesmoke;
}

.title{
	
    text-align: center;
    font-size: xx-large;
	margin-bottom: 4%;
}

.recherche{

	text-align: left;
	margin: 6px;
	
}

.bouton{
	width:85px;
	height:85px;
	background:#ffffff;
	box-shadow:2px 2px 8px rgb(88, 88, 88);
	font:bold 13px Arial;
	border-radius:50%;
	color:rgb(0, 0, 0);
	cursor: pointer;
}

.bigdiv{
	
	max-width: auto;
	height: auto;
	background-repeat: no-repeat;
	
	
}

.ultradiv{

	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
		
}

.bigdiv2{
	float : right;
	background-color: rgba(0, 0, 0, 0.568); 
	margin-top: 15px;
	padding-left: 15px;
	border-radius: 30px;
	margin-right: 5px;
	color: whitesmoke;
}


#text{
	margin-left: 5px;
	background-color: rgba(0, 0, 0, 0.568); 
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-top: 5px;
	border-radius: 50px;
	margin-right: 5px;
}
	


#button {
	display: inline-block;
	border-radius: 4px;
	background-color: #e7dfdd;
	border: none;
	color: rgb(7, 7, 7);
	text-align: center;
	font-size: 18px;
	padding: 10px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	
  }
  
  #button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  #button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  #button:hover span {
	padding-right: 25px;
  }
  
  #button:hover span:after {
	opacity: 1;
	right: 0;
  }

#api{

	float : left;
	background-color: rgba(0, 0, 0, 0.568); 
	margin-top: 15px;
	margin-left: 5px;
	height: auto;
	width: auto;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 10px;
}

.img{

	max-width: 100%;
	height: auto;
	border:1px solid black;
	border-radius: 500px;
}

.presentation{

	color: white;
	background-image: url(Screenshot_2.png);
	background-size: cover;
	box-shadow:20px 20px 40px rgb(88, 88, 88);
	border-radius:15%;
	max-width: 100%;
	height: 17%;
	background-position-x: center;
	background-color: rgba(0, 0, 0, 0.568); 
	
	  
  }

  .custom-select {
	
	color: black;
	height: 5%;
	border-radius: 15%;
	
  }
  
 

  