html {height:100%;}
body {height:100%;
padding: 0%; margin: 0%;
background-image: url(téléchargement.png);
width: auto;
height: auto;
}
*{
  font-family:'Times New Roman', Times, serif;
}
#delete{

width: 48%;
float: left;
height: 100%;
border-radius: 70px;


}
#update{
  
width: 48%;
float: right;
height: 100%;
border-radius: 70px;

}
#gestion1{

    float: right;
    background-color: rgb(48, 98, 148);
    margin-top: 10%;
    color: rgb(255, 255, 255);
    width: 100%;
    border:5px solid black;
    border-radius: 70px;
    margin-bottom: 15px;
    

    
}
#gestion2{

  float: left;
  background-color: rgb(48, 98, 148);
  margin-top: 10%;
  color: rgb(255, 255, 255);
  width: 100%;
  border:5px solid black;
  border-radius: 70px;
  margin-bottom: 30px;
  
}
.titre{

    text-decoration: underline red;
    margin-top: 10%;
    width: 50%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.250);
    color: black;
    border-radius: 15%;
    
  }

  .bouton{
    width:85px;
    height:85px;
    background:#08a4af;
    box-shadow:2px 2px 8px rgb(88, 88, 88);
    font:bold 13px Arial;
    border-radius:50%;
    color:rgb(192, 6, 6);
    cursor: pointer;
  }
 
  #gestion3{

    float: left;
    background-color: rgb(48, 98, 148);
    margin-top: 5%;
    color: rgb(255, 255, 255);
    width: 100%;
    border:5px solid black;
    border-radius: 70px;
    margin-bottom: 30px;
    
  }    

  .presentation{

    color: white;
    background-image: url(Screenshot_2.png);
    background-size: cover;
    box-shadow:20px 20px 40px rgb(88, 88, 88);
    border-radius:15%;
    max-width: 100%;
    height: 17%;
    background-position-x: center;
    background-color: rgba(0, 0, 0, 0.568); 
    
      
    }
  
  .checkmark {

    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    }
    