html {height:100%;}
body {height:100%;
padding: 0%; margin: 0%;
width: auto;
height: auto;
}
*{
  font-family:'Times New Roman', Times, serif;
}
#delete{

width: 48%;
float: left;
height: 100%;
border:5px solid black;
  
}
#update{
  
width: 48%;
float: right;
height: 100%;
 border:5px solid black;
  
}
.gestion{

    float: left;
    background-color: rgb(48, 98, 148);
    margin-top: 30%;
    color: rgb(255, 255, 255);
    width: 100%;
    
}
.titre{

    text-decoration: underline red;
    margin-top: 10%;
    width: 100%;
    
  }